body {
  font-family: sans-serif;
  font-style: oblique;
  font-size: 250%;
}
h1, h2 {
  font-family: sans-serif;
  color: gray
}
h1 {
  border-bottom: 1px solid black;
}
p {
  color:maroon;
}
em{
  font-family: serif;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: blue;
}
p.blueberry {
  color: purple;
}

